<div class="columns small-3 medium-3 display-date" style="padding: 0px 5px 0px 0px!important">
    <div class="display-month"><h4><%= date.strftime("%b") %></h4></div>
    <div class="display-day"><h2 style="padding-top: 0px!important;"><%= date.day %></h2></div> 
</div>