<div id="good-bets" class="module-contents">
    <h2>Good Bets <i class="fa fa-info-circle" title="This section highlights items we think might be related to your search. It works by elevating results located lower on the page to reduce scrolling."></i></h2>
    <ol>
    <% good_bets.each_with_index do |good_bet, index| %>
        <li>
        <div class="row results">
            <%= render partial: '/layouts/quick_search/best_bets', locals: { best_bets: good_bet, index: index } %>
        </div>
        </li>
    <% end %>
    </ol>
</div>